<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qxx.information.mapper.CollectInfoMapper">

    <select id="queryCollectInfoRecordList" resultType="qxx.information.pojo.vo.CollectInfoRecordVO">
        SELECT
            id,
            collect_name,
            create_on,
            `status`,
            sum(CASE WHEN `status` = 1 THEN 1 ELSE 0 END) AS cancellation,
            sum(CASE WHEN `status` = 0 THEN 1 ELSE 0 END) AS noCancellation,
            sum(*) all
        FROM collect_info
        WHERE delete_flag = 0
        <if test="dto.createON != null">
            AND create_on = #{dto.createON}
        </if>
        <if test="dto.status != null">
            AND status = #{dto.status}
        </if>
        <if test="dto.collectName != null and dto.collectName != ''">
            AND collect_name like '%${dto.collectName}%'
        </if>
        ORDER BY create_on DESC
    </select>

    <select id="getByIdQueryCollectInfo" resultType="qxx.information.pojo.vo.CollectInfoVO">
        select
            h.hospital_name,
            c.collect_name,
            c.collect_sex,
            c.collect_birth_data,
            c.collect_card,
            p.package_name,
            p.id AS packageId,
            c.sampling_point,
            c.status,
            c.tube_card,
            c.collect_nation
            from collect_info c
            left join package_info p on c.package_id=p.id
            left join hospital_info h on h.id=c.hospital_id
            where c.delete_flag=0
            <if test="id != null">
                and c.id=#{id}
            </if>
    </select>

    <select id="listByCollectInfoPage" resultType="qxx.information.pojo.vo.CollectInfoVO">
        SELECT
        c.id,
        h.district_name AS district,
        h.hospital_name,
        c.collect_name,
        c.collect_sex,
        c.collect_nation,
        c.collect_birth_data,
        c.collect_card,
        p.package_name,
        c.tube_card,
        sampling_point,
        c.`status`,
        u.`name` as createName,
        c.create_on
        FROM collect_info c
        LEFT JOIN package_info p ON c.package_id=p.id
        LEFT JOIN hospital_info h ON h.id=c.hospital_id
        LEFT JOIN sys_user u ON c.create_by=u.user_id
        WHERE c.delete_flag = 0
        <if test="dto.district != null and dto.district != ''">
            and h.district_name = #{dto.district}
        </if>
        <if test="dto.hospitalId != null ">
            and c.hospital_id = #{dto.hospitalId}
        </if>
        <if test="dto.collectName != null and dto.collectName != ''">
            and c.collect_name like '%${dto.collectName}%'
        </if>
        <if test="dto.collectCard != null and dto.collectCard != ''">
            and c.collect_card like '%${dto.collectCard}%'
        </if>
        <if test="dto.status != null">
            and c.`status` = #{dto.status}
        </if>
        <if test="dto.beginCreateON != null and dto.endCreateON != null">
            and c.create_on BETWEEN #{dto.beginCreateON} and #{dto.endCreateON}
        </if>
        <if test="dto.userHospitalIdList != null and dto.userHospitalIdList.size > 0">
            and c.hospital_id in
            <foreach collection="dto.userHospitalIdList" item="hospitalId" index="index" open="(" close=")" separator=",">
                #{hospitalId}
            </foreach>
        </if>
        ORDER BY c.create_on desc
    </select>

    <select id="exportCollectInfo" resultType="qxx.information.pojo.vo.CollectInfoVO">
        SELECT
        h.district_name AS district,
        h.hospital_name,
        c.collect_name,
        c.collect_sex,
        c.collect_nation,
        c.collect_birth_data,
        c.collect_card,
        p.package_name,
        c.tube_card,
        sampling_point,
        c.`status`,
        u.`name` as createName,
        c.create_on
        FROM collect_info c
        LEFT JOIN package_info p ON c.package_id=p.id
        LEFT JOIN sys_user u ON c.create_by=u.user_id
        LEFT JOIN hospital_info h ON h.id=c.hospital_id
        WHERE c.delete_flag = 0
        <if test="dto.district != null and dto.district != ''">
            and h.district_name = #{dto.district}
        </if>
        <if test="dto.hospitalId != null ">
            and c.hospital_id = #{dto.hospitalId}
        </if>
        <if test="dto.collectName != null and dto.collectName != ''">
            and c.collect_name like '${dto.collectName}'
        </if>
        <if test="dto.collectCard != null and dto.collectCard != ''">
            and c.collect_card = #{dto.collectCard}
        </if>
        <if test="dto.status != null">
            and c.`status` = #{dto.status}
        </if>
        <if test="dto.beginCreateON != null and dto.endCreateON != null">
            and c.create_on BETWEEN #{dto.beginCreateON} and #{dto.endCreateON}
        </if>
    </select>

    <select id="queryCollectStatus" resultType="qxx.information.pojo.vo.CollectStatusInfoVO">
        SELECT
        sum(CASE WHEN `status` = 1 THEN 1 ELSE 0 END) AS cancellation,
        sum(CASE WHEN `status` = 0 THEN 1 ELSE 0 END) AS noCancellation,
        sum(*) allUser
        FROM collect_info
        WHERE delete_flag = 0
        <if test="dto.createON != null">
            AND create_on = #{dto.createON}
        </if>
    </select>

</mapper>
