<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qxx.information.mapper.CollectInfoMapper">

    <select id="queryCollectInfoRecordList" resultType="qxx.information.pojo.vo.CollectInfoRecordVO">
        SELECT
            id,
            collect_name,
            create_on,
            `status`
        FROM collect_info
        WHERE delete_flag = 0
        <if test="dto.createON != null">
            AND create_on = #{dto.createON}
        </if>
        <if test="dto.status != null">
            AND status = #{dto.status}
        </if>
        <if test="dto.collectName != null and dto.collectName != ''">
            AND collect_name like '${dto.collectName}'
        </if>
        ORDER BY create_on DESC
    </select>

    <select id="getByIdQueryCollectInfo" resultType="qxx.information.pojo.vo.CollectInfoVO">
        select
            h.hospital_name,
            c.collect_name,
            c.collect_sex,
            c.collect_birth_data,
            c.collect_card,
            p.package_name,
            c.sampling_point,
            c.status
            from collect_info c
            left join package_info p on c.package_id=p.id and p.delete_flag=0
            left join hospital_info h on h.id=c.hospital_id and h.delete_flag=0
            where c.delete_flag=0
            <if test="id != null">
                and c.id=#{id}
            </if>
    </select>

    <select id="listByCollectInfoPage" resultType="qxx.information.pojo.vo.CollectInfoVO">
        SELECT
            h.district_name AS district,
            h.hospital_name,
            c.collect_name,
            c.collect_sex,
            c.collect_nation,
            c.collect_birth_data,
            c.collect_card,
            p.package_name,
            c.tube_card,
            sampling_point,
            c.`status`,
            u.createName,
            c.create_on
        FROM collect_info c
                 LEFT JOIN package_info p ON c.package_id.p.id AND p.delete_flag = 0
                 LEFT JOIN sys_user u ON c.create_by=u.id AND u.delete_flag = 0
                 LEFT JOIN hospital_name h ON h.id=c.hospital_id and h.delete_flag=0
        WHERE c.delete_flag = 0
        <if test="dto.district != null and dto.district != ''">
            and c.district = #{dto.district}
        </if>
        <if test="dto.hospitalName != null and dto.hospitalName != ''">
            and c.hospital_name = #{dto.hospitalName}
        </if>
        <if test="dto.collectName != null and dto.collectName != ''">
            and c.collect_name like '${dto.collectName}'
        </if>
        <if test="dto.collectCard != null and dto.collectCard != ''">
            and c.collect_card = #{dto.collectCard}
        </if>
        <if test="dto.Integer != null">
            and c.`status` = #{dto.status}
        </if>
        <if test="dto.BeginCreateON != null and dto.endCreateON != null">
            and c.create_on BETWEEN #{dto.BeginCreateON} and #{dto.endCreateON}
        </if>
    </select>

</mapper>
