<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qxx.information.mapper.SysMenuMapper">

    <select id="queryMenuInfo" resultType="qxx.information.pojo.vo.SysMenuVO">
        select
            id,
            menu_name,
            menu_code,
            `path`,
            parent_id
        from sys_menu
        where delete_flag = 0
    </select>
    <select id="selectByUserId" resultType="qxx.information.pojo.vo.SysMenuVO">
        select sys_menu.menu_name,sys_menu.icon,sys_menu.`path`,sys_menu.parent_id
        from sys_user left join sys_user_role on sys_user.user_id=sys_user_role.user_id
        left join sys_role_menu on sys_user_role.role_id=sys_role_menu.role_id
        left join sys_menu on sys_role_menu.menu_id=sys_menu.id
        where sys_user.id=#{id}
    </select>
</mapper>
