<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qxx.information.mapper.SysRegionMapper">


    <select id="queryByIdRegion" resultType="qxx.information.entity.SysRegion">
        select
            id,
            name,
            parent_id
        from sys_region
        where ctype = #{id}
    </select>

</mapper>
