<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qxx.information.mapper.SysUserMapper">

    <resultMap id="userVO" type="qxx.information.pojo.vo.SysUserVO" autoMapping="true">
        <id column="id" property="id" />
        <collection property="listHospital" ofType="qxx.information.entity.SysUserHospital">
            <id column="hospitalId" />
            <result column="hospitalInfoId" property="hospitalId" />
            <result column="hospital_name" property="hospitalName" />
            <result column="district_name" property="districtName" />
        </collection>
        <collection property="listRole" ofType="qxx.information.entity.SysUserRole">
            <id column="roleId" />
            <result column="roleInfoId" property="roleId" />
            <result column="role_name" property="roleName" />
        </collection>
    </resultMap>

    <select id="selectPageNew" resultMap="userVO">
        with info as (select s.id,
        s.name,
        s.phone,
        s.user_id,
        s.password,
        s.status,
        s.region,
        s.delete_flag,
        s.create_by,
        s.create_on,
        h.id as hospitalId,
        i.id as hospitalInfoId,
        i.hospital_name,
        i.district_name,
        r.id as roleId,
        m.id as roleInfoId,
        m.role_name
        from sys_user s
        left join sys_user_hospital h on s.id = h.user_id and h.delete_flag = s.delete_flag left join hospital_info i on
        h.hospital_id = i.id and i.delete_flag = h.delete_flag
        left join sys_user_role r on s.id = r.user_id and r.delete_flag = s.delete_flag left join sys_role m on
        r.role_id = m.id and m.delete_flag = r.delete_flag
        where s.delete_flag = '0')
        select * from info
        <where>
            <if test="dto.userId != null and dto.userId != ''">
                and user_id like concat('%', #{dto.userId}, '%')
            </if>
            <if test="dto.name != null and dto.name != ''">
                and name like concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.hospital != null and dto.hospital != ''">
                and hospital_name like concat('%', #{dto.hospital}, '%')
            </if>
        </where>
        <if test="dto.hospital != null and dto.hospital != ''">
            union all select * from info
            where id in (
            select user_id from sys_user_hospital where delete_flag = '0' and hospital_id in (
            select id from hospital_info where delete_flag = '0' and hospital_name like concat('%',#{dto.hospital}, '%')
            )
            )
        </if>
    </select>
</mapper>
